<!-- <p>header works!</p> -->
<mat-toolbar color="primary">
    <span><img class="imgSpotify" src="https://ouch-cdn2.icons8.com/JJ06nzYkxCM2cSzB-na0n8tN0cWje4DgYDLcP6zZDmI/rs:fit:368:368/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMjAy/LzRlZTEwNzhhLThm/OWYtNGNjZC04NjU4/LTQ1Mzg3N2FhMDEy/Ni5wbmc.png" alt="spotify"></span>
    <span class="spotify">Spotify</span>&nbsp;
    <span><mat-icon>music_note</mat-icon></span>
    <span><mat-icon>library_music</mat-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;
   
    <span class="example-spacer" *ngIf="welcome">  welcome {{userName}} </span>

   <a routerLink="/spotify"><button mat-raised-button color="primary">Home</button></a>
</mat-toolbar>

      

     
  
 